@use '../theme.scss' as t;
@use 'sass:color' as color;
@use 'sass:map' as map;

popover.menu {
  background-color: t.$base-100;
  border: t.$base-300 solid 1px;
  border-radius: 8px;
  padding: 4px 8px;

  & modelbutton {
    $color: map.get(t.$colors, 'neutral');
    $base: map.get($color, 'base');
    $content: map.get($color, 'content');

    background-color: red;
    color: $content;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 4px 0;

    &:hover {
      background-color: color.adjust($base, $alpha: -0.5);
    }
  }
}
