@use '../theme.scss' as t;

.mpris {
  & .mpris-icon {
    margin-left: 8px;
  } 

  & scale {
    background-color: transparent;
    min-height: 4px;

    & trough highlight {
      background-color: t.$base-content;
      min-height: 4px;
    }
  }
}
