@use '../theme.scss' as t;

.mpris {
  & .cover-art {
    opacity: 50%;
  }

  & .content {
    padding: 0 8px;
    background-image: linear-gradient(to left, t.$base-100, transparent);
  }

  & scale.vertical {
    background-color: transparent;
    min-height: 4px;

    & trough highlight {
      background-color: t.$base-content;
      min-height: 4px;
    }
  }
}
